{{!< default}}

    <header class="main-header author-head {{#if cover}}" style="background-image: url({{cover}}){{else}}no-cover{{/if}}">
        <nav class="main-nav overlay clearfix">
        </nav>
    </header>

    <section class="author-profile inner">
        <figure class="author-image">
            <a href="https://diogomonica.com/">
                 <div class="img" style="background-image: url('/content/images/2016/08/Diogo_Monica_Docker_hoodie_Round.jpg')"><span class="hidden">Diogo Mónica's Picture</span></div>
            </a>
        </figure>
         <a href="https://diogomonica.com/media-timeline">
            <h1 class="author-title">Diogo Mónica</h1>
        </a>
         <h2 class="author-bio">Security lead @Docker, ex-@Square, PhD in CS</h2>
    </section>

<main id="content" class="content" role="main">

    {{!-- The tag below includes the post loop - partials/loop.hbs --}}
    {{> "loop"}}

</main>
