{{!< default}}
{{!-- The main content area on the homepage --}}
<main class="content" role="main">
        <cloudstitch-handlebars user="diogomonica" app="elegant-resume-timeline"></cloudstitch-handlebars>
</main>
